.page {
  background-color: #191d2c41;
  width: 100%;
  display: block;
  // grid-template-rows: 6fr;
  // grid-template-areas:
  //   "header"
  //   "content"
  //   "description"
  //   "section-2"
  //   "section-3"
  //   "footer";
  justify-content: center;
  color: white;
}
